.panel
{width: 90%;
max-width: 1100px;
}

body button, body .x-btn, body .btn, body .btnDisabled, body .btnCancel, body .menuButton .menuButtonButton
{color: #fff;
margin: 1px;
padding: 5px7px;
border: 1px solid #2e6da4;
border-bottom-color: #2e6da4;
background: #337ab7;
font-weight: bold;
font-size: .9em;
-moz-border-radius: 3px;
-webkit-border-radius: 3px;
border-radius: 3px;
margin-top:2px;}



body input.btn, body input.btnDisabled, body input.btnCancel {
    padding: 18px 38px;
    font-size: 1.5em;
    background: #66ccff;
    border: 1px solid rgb(102, 204, 255);
}





.h {margin-top:30px;margin-bottom:0px;}

.d
{
color:blue;
}




.well {
    
    margin-bottom: -2px;
    background-color: #f5f5f5;
    border: 1px solid #f5f5f5;
   
}
.well1 {
    min-height: 20px;
    padding: 19px;
    margin-bottom: -2px;
    background-color: #eeeeee;
    border: 1px solid #eeeeee;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}


.des {
	font-family: monospace;
    	font-weight: 900;
	font-size: 48px;
	
	
}

.deso {
	
    	font-size: 18px;
	font-weight:100;
	
}


body .bPageBlock, body .bPageBlock .pbBody, body .bPageBlock .pbBottomButtons {
    background-color: white;
    background-image: none;
    margin: 0;
}





body .bPageBlock, body #bodyCell .bResource .secondaryPalette, body .secondaryPalette.bPageBlock, body .individualPalette .secondaryPalette.bPageBlock, body .bodyDiv .genericTable, body .genericPageBlockTable, body .bodyDiv .bSubBlock, body .bComponentBlock .bPageBlock, body .bMyDashboard .bPageBlock, body.rlHoverFrame .bPageBlock, body.subjectSelectionPopup div.choicesBox, body.lookupTab .secondaryPalette.bPageBlock, body.popupTab .secondaryPalette.bPageBlock, body.UserTagStatsPage .secondaryPalette.bPageBlock {
    background-color: white;
    border-bottom: 1px solid white;
    border-left: 1px solid white;
    border-right: 1px solid white;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
}

.pbBody, .pbBody a, .pbBody td, .lbBody a, .lbBodyDescription, .list .headerRow .noRowsHeader {
    color: #606060;
    font-size: 17px;
    font-family: Verdana;
    padding-left: 50px;
    padding-top: 5px;
}